#########################C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#########################Perl
/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs

#########################Autotools
# http://www.gnu.org/software/automake
Makefile.in
# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

*.m4
*.PL
docs/


build-aux/
config.log
config.status
irssi-config
irssi-config.h
irssi-config.h.in
libtool
scripts/Makefile
scripts/examples/Makefile
src/Makefile
src/core/.deps/
src/core/Makefile
src/fe-common/Makefile
src/fe-common/core/.deps/
src/fe-common/core/Makefile
src/fe-common/irc/.deps/
src/fe-common/irc/Makefile
src/fe-common/irc/dcc/.deps/
src/fe-common/irc/dcc/Makefile
src/fe-common/irc/irc-modules.c
src/fe-common/irc/notifylist/.deps/
src/fe-common/irc/notifylist/Makefile
src/fe-none/.deps/
src/fe-none/Makefile
src/fe-text/.deps/
src/fe-text/Makefile
src/irc/.deps/
src/irc/Makefile
src/irc/core/.deps/
src/irc/core/Makefile
src/irc/dcc/.deps/
src/irc/dcc/Makefile
src/irc/flood/.deps/
src/irc/flood/Makefile
src/irc/irc.c
src/irc/notifylist/.deps/
src/irc/notifylist/Makefile
src/irc/proxy/.deps/
src/irc/proxy/Makefile
src/lib-config/.deps/
src/lib-config/Makefile
src/perl/.deps/
src/perl/Makefile

default-config.h
default-theme.h
irssi-version.h
src/fe-text/irssi
src/perl/common/Channel.c
src/perl/common/Core.c
src/perl/common/Expando.c
src/perl/common/Ignore.c
src/perl/common/Irssi.c
src/perl/common/Log.c
src/perl/common/MYMETA.yml
src/perl/common/Makefile
src/perl/common/Masks.c
src/perl/common/Query.c
src/perl/common/Rawlog.c
src/perl/common/Server.c
src/perl/common/Settings.c
src/perl/common/blib/
src/perl/common/pm_to_blib
src/perl/irc/Channel.c
src/perl/irc/Client.c
src/perl/irc/Ctcp.c
src/perl/irc/Dcc.c
src/perl/irc/Irc.c
src/perl/irc/MYMETA.yml
src/perl/irc/Makefile
src/perl/irc/Modes.c
src/perl/irc/Netsplit.c
src/perl/irc/Notifylist.c
src/perl/irc/Query.c
src/perl/irc/Server.c
src/perl/irc/blib/
src/perl/irc/pm_to_blib
src/perl/irssi-core.pl.h
src/perl/perl-signals-list.h
src/perl/textui/MYMETA.yml
src/perl/textui/Makefile
src/perl/textui/Statusbar.c
src/perl/textui/TextBuffer.c
src/perl/textui/TextBufferView.c
src/perl/textui/TextUI.c
src/perl/textui/blib/
src/perl/textui/pm_to_blib
src/perl/ui/Formats.c
src/perl/ui/MYMETA.yml
src/perl/ui/Makefile
src/perl/ui/Themes.c
src/perl/ui/UI.c
src/perl/ui/Window.c
src/perl/ui/blib/
src/perl/ui/pm_to_blib

src/perl/common/Makefile.old
src/perl/irc/Makefile.old
src/perl/textui/Makefile.old
src/perl/ui/Makefile.old
include/

bin/
etc/
share/

irssi
